<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708677641651-4v76iib6rnkjognroismo7r8qvq56k9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708677641651-4v76iib6rnkjognroismo7r8qvq56k9t</string>
	<key>API_KEY</key>
	<string>AIzaSyAtHM78xZjCvPXnwVyTy44VBpEAxFoAF6g</string>
	<key>GCM_SENDER_ID</key>
	<string>708677641651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mckiba.Wishing-Well</string>
	<key>PROJECT_ID</key>
	<string>wishing-well-7a545</string>
	<key>STORAGE_BUCKET</key>
	<string>wishing-well-7a545.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:708677641651:ios:1b105c1f4b98ffcbfe97c6</string>
</dict>
</plist>
